
<div class="collection-list">

{% for collection in collections %}

    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <div class="collection-list-item">

      {% if collection.image %}

        <img class="collection-list-image" src="{{ collection.image | img_url: 'large' }}" alt="{{ collection_title }}" />

      {% endif %}

        <h2 class="collection-list-title"><a href="{{ collection.url }}">More {{ collection_title }} &rsaquo;</a></h2>

    </div><!-- collection-list-item -->

  {% endfor %}

</div><!-- / .collection-list -->
